
contextily 
Flask==1.1.2
geopandas
geopy 
importlib-metadata 
ipykernel 
ipython 
Jinja2
jsonschema 
matplotlib 
numpy 
pandas
pymssql==2.2.0
requests 
Rtree
Shapely==1.7.1
uvicorn
gunicorn
Werkzeug==1.0.1


