<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <title>Graph Example</title>

</head>

<body class="gg">

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Bleddur</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/index"
            >Mappa</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/graph">Grafici</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        
      </ul>   
    </div>
  </nav>

  <div class="container mt-5 pt-5">
    <div class="row">
      <div class="col-md-12 text-center mb-5 ">
        <h3 style="font-family: 'Roboto Slab', serif;">Grafici Covid-19</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-4">
        <h6 class="text-center" style="font-family: 'Roboto Slab', serif;">Confronto tra uomini e donne</h6>
        <canvas id="chart_pd"></canvas>
      </div>
      <div class="col-md-6 mb-4">
        <h6 class="text-center" style="font-family: 'Roboto Slab', serif;">Punti vaccinali per regione</h6>
        <canvas id="myChart"></canvas>
      </div>
      <div class="col-md-6 mb-4">
        <h6 class="text-center" style="font-family: 'Roboto Slab', serif;">Tipo Vaccino Utilizzato per persone</h6>
        <canvas id="chart_fornitore"></canvas>
      </div>
      <div class="col-md-6 mb-4">
        <canvas id="chart_somministrazioni"></canvas>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script>
    var ctx_chart_pd = document.getElementById('chart_pd').getContext('2d');
    var ctx_myChart = document.getElementById('myChart').getContext('2d');
    var chart_fornitore = document.getElementById('chart_fornitore').getContext('2d');
    var chart_somministrazioni = document.getElementById('chart_somministrazioni').getContext('2d')

    var chart = new Chart(ctx_myChart, {
      type: 'bar',
      data: {
        labels: {{ labels | safe}},
    datasets: [{
      label: "Punti Vaccinali per Regione",
      backgroundColor: '#95dbc4',
      borderColor: 'black',
      data: {{ values | safe}},
                }]
            },
    options: {
      responsive: true,
        legend: false,
    }
  });

    const labels_aree = {{ area | safe}};
    const data_maschi_femmine = {
      labels: labels_aree,
      datasets: [
        {
          label: 'maschi',
          data: {{ maschi }},
      backgroundColor: "#98bbec",  
    },
    {
      label: 'femmine',
        data: {{ femmine }},
      backgroundColor: "#f8a0b7",
      
    }
  ]
};
    var chart = new Chart(ctx_chart_pd, {
      type: 'bar',
      data: data_maschi_femmine,
      options: {
        responsive: true,
      }
    });

    const labels_fornitori = {{ fornitore | safe}}
    const data_tot_fornitori = {
      labels: labels_fornitori,
      datasets: [
        {
          label: 'Dataset 1',
          data: {{ totale_fornitore | safe}},
    backgroundColor: [
      'rgb(255, 99, 132)',
      'rgb(54, 162, 235)',
      'rgb(255, 205, 86)',
      'rgb(46, 204, 113)',
    ],       
        }
      ]
    };

    var chart = new Chart(chart_fornitore, {
      type: 'doughnut',
      data: data_tot_fornitori,
      options: {
        responsive: true,

      }
    });


    const labels_dosi_somministrazione = {{ area_dosi | safe}}
    const data_dosi_somministrazioni = {
      labels: labels_dosi_somministrazione,
      datasets: [
        {
          label: 'Dosi Somministrate',
          data: {{ dosi_somministrate | safe}},
    backgroundColor: "#a1c349",
        },
    {
      label: 'Dosi da Utilizzare',
        data: {{ da_utilizzare | safe }},
      backgroundColor: "#fd0d0d",
        }
      ]
    }

    var chart = new Chart(chart_somministrazioni, {
      type: 'bar',
      data: data_dosi_somministrazioni,
      options: {
        tooltips: {
          displayColors: true,
          callbacks: {
            mode: 'x',
          },
        },
        scales: {
          xAxes: [{
            stacked: true,
            gridLines: {
              display: false,
            }
          }],
          yAxes: [{
            stacked: true,
            ticks: {
              beginAtZero: true,
            },
            type: 'linear',
          }]
        },
        responsive: true,
        maintainAspectRatio: false,
        legend: { position: 'top' },
      }
    });
  </script>

</body>

</html>